<<<<<<< HEAD
body{
    background-color:beige;
    color:blueviolet;
    margin: 5px;
    padding: 2px;
=======
body{
    background-color:beige;
    color:blueviolet;
    margin: 5px;
    padding: 2px;
>>>>>>> 7fc2ca91ada4b7890ecab4c597ec08c43d70cc06
}