body{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    margin: 5px;
    padding: 2px;
    font-family: Arial;
}
header, 
footer {
    text-align: center;
    background-color: rgb(255, 255, 255);
}
h2, h3, h4 {
color: rgb(0, 0, 0);
}
p {
    text-align: justify;
    text-indent: 8ch;
}
.letter1 {
    color: black;
    font-size: 120%;
}

.myimage-div {
    display:  none;
}
a.myimage-ssilka:hover+div {
    display: block;
}
aside{
    background-color:aquamarine;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    width: 18%;
    height: 1000px;
}
.photo1 {
    align-content: right;
    width: 55%;
}